## Intro to Mod3 Assessment 

MICHAEL COLLINS, 2021-01-14_1055MST

In the cells below, we are importing relevant modules that you might need later on. We also load and prepare the dataset for you.

In [22]:
# Run this cell without changes
import pandas as pd
import itertools
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.linear_model import Lasso, Ridge
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from IPython.display import display

In [31]:
# Run this cell without changes
data = pd.read_csv('Advertising.csv').drop('Unnamed: 0',axis=1)
display(data.describe())

print("="*80)
print("\ndata.info() =\n")
display(data.info())

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

================================================================================

data.info() =

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

None

**1. Drop the 'sales' column, use the correct axis and set this line of code = to X then set the 'sales' column = y** 

1. Drop the 'Sales' column, use the correct axis and set this line of code = to X then set the 'Sales' column = y

In [24]:
X = data.drop(columns='Sales')
y = data['Sales']

print("="*80)
print(f"\ntype(X) = {type(X)}")
print("\nX =")
display(X)

print("="*80)
print(f"\ntype(y) = {type(y)}")
print("\ny =")
display(y)

================================================================================

type(X) = <class 'pandas.core.frame.DataFrame'>

X =

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

================================================================================

type(y) = <class 'pandas.core.series.Series'>

y =

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

**2.Split the data into training and test sets and set the random state to 2019**

In [25]:
split_size = 0.3
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=split_size, random_state=2019)

print("="*80)
print("\nX_train =")
display(X_train)

print("="*80)
print("\nX_test =")
display(X_test)

print("="*80)
print("\ny_train =")
display(y_train)

print("="*80)
print("\ny_test =")
display(y_test)

================================================================================

X_train =

        TV  Radio  Newspaper
117   76.4    0.8       14.8
99   135.2   41.7       45.9
53   182.6   46.2       58.7
50   199.8    3.1       34.6
180  156.6    2.6        8.3
..     ...    ...        ...
190   39.5   41.1        5.8
37    74.7   49.4       45.7
159  131.7   18.4       34.6
114   78.2   46.8       34.5
72    26.8   33.0       19.3

[140 rows x 3 columns]

================================================================================

X_test =

        TV  Radio  Newspaper
173  168.4    7.1       12.8
77   120.5   28.5       14.2
10    66.1    5.8       24.2
158   11.7   36.9       45.2
185  205.0   45.1       19.6
129   59.6   12.0       43.1
69   216.8   43.9       27.2
38    43.1   26.7       35.1
35   290.7    4.1        8.5
94   107.4   14.0       10.9
43   206.9    8.4       26.4
105  137.9   46.4       59.0
36   266.9   43.8        5.0
150  280.7   13.9       37.0
61   261.3   42.7       54.7
199  232.1    8.6        8.7
126    7.8   38.9       50.6
47   239.9   41.5       18.5
172   19.6   20.1       17.0
0    230.1   37.8       69.2
146  240.1    7.3        8.7
34    95.7    1.4        7.4
85   193.2   18.4       65.7
20   218.4   27.7       53.4
18    69.2   20.5       18.3
123  123.1   34.6       12.4
7    120.2   19.6       11.6
46    89.7    9.9       35.7
120  141.3   26.8       46.2
181  218.5    5.4       27.4
6     57.5   32.8       23.5
182   56.2    5.7       29.7
81   239.8    4.1       36.9
197  177.0    9.3        6.4
19   147.3   23.9       19.1
25   262.9    3.5       19.5
33   265.6   20.0        0.3
42   293.6   27.7        1.8
164  117.2   14.7        5.4
62   239.3   15.5       27.3
84   213.5   43.0       33.8
175  276.9   48.9       41.8
107   90.4    0.3       23.2
121   18.8   21.7       50.4
95   163.3   31.6       52.9
165  234.5    3.4       84.8
167  206.8    5.2       19.4
147  243.2   49.0       44.3
48   227.2   15.8       49.9
196   94.2    4.9        8.1
75    16.9   43.7       89.4
14   204.1   32.9       46.0
174  222.4    3.4       13.1
154  187.8   21.1        9.5
88    88.3   25.5       73.4
49    66.9   11.7       36.8
56     7.3   28.1       41.4
101  296.4   36.3      100.9
187  191.1   28.7       18.2
40   202.5   22.3       31.6

================================================================================

y_train =

117     9.4
99     17.2
53     21.2
50     11.4
180    10.5
       ...
190    10.8
37     14.7
159    12.9
114    14.6
72      8.8
Name: Sales, Length: 140, dtype: float64

================================================================================

y_test =

173    11.7
77     14.2
10      8.6
158     7.3
185    22.6
129     9.7
69     22.3
38     10.1
35     12.8
94     11.5
43     12.9
105    19.2
36     25.4
150    16.1
61     24.2
199    13.4
126     6.6
47     23.2
172     7.6
0      22.1
146    13.2
34      9.5
85     15.2
20     18.0
18     11.3
123    15.2
7      13.2
46     10.6
120    15.5
181    12.2
6      11.8
182     8.7
81     12.3
197    12.8
19     14.6
25     12.0
33     17.4
42     20.7
164    11.9
62     15.7
84     21.7
175    27.0
107     8.7
121     7.0
95     16.9
165    11.9
167    12.2
147    25.4
48     14.8
196     9.7
75      8.7
14     19.0
174    11.5
154    15.6
88     12.9
49      9.7
56      5.5
101    23.8
187    17.3
40     16.6
Name: Sales, dtype: float64

**3. Write a function to calculate train and test error for different polynomial degrees.**

This function should:

- take degree as a parameter that will be used to create polynomial features to be used in a linear regression model

- create a PolynomialFeatures object for each degree and fit a linear regression model using the transformed data

- calculate the mean square error for each level of polynomial

- return the train_error and test_error

In [ ]:
def polynomial_regression(degree):
    """
    Calculate train and test error for a linear regression with polynomial features.
    (Hint: use PolynomialFeatures)
    
    input: Polynomial degree
    output: Mean squared error for train and test set
    """
    # Your code here
    
    # Replace None with appropriate code
    train_error = None
    test_error = None
    return train_error, test_error

**Try out your new function below**

In [ ]:
# Run this cell without changes
polynomial_regression(3)

In [ ]:
# Run this cell without changes
polynomial_regression(4)

**Check your answers**

Approximate MSE for degree 3:

Train: 0.242<br/>
Test: 0.153

Approximate MSE for degree 4:

Train: 0.182<br/>
Test: 1.95

## Gradient Descent 
![](Gradient_Descent.png)

**Q1:**Using the gradient descent visual from above, explain why the distance between each step is getting smaller as more steps occur with gradient descent.

**Q2:**What is the purpose of a learning rate in gradient descent? Explain how a very small and a very large learning rate would affect the gradient descent.

## Confusion Matices 
![](confusion_matrix.png)

**Q1.** Using the confusion matrix up above, calculate precision, recall, and F-1 score.

In [ ]:
#Calculate using python here

**Q2.** What is a real life example of when you would care more about recall than precision? Make sure to include information about errors in your explanation.

**Q3.** What is an example of when you would care more about precision than recall? Make sure to include information about errors in your explanation.